body {background-color: #7accc8;
    font-family: sans-serif
}

div.pakker {width: 900px;
    margin: auto;
    padding: 50px;
    background-color: white}

h1 {margin-top: 0px;
    font-size: 75px;
    text-align: center;
    color: #4aaaa5;}

h2  {text-align: center;
    font-size: 18px;
    color: #a3d39c;}

h3 {color: #eb7260;}

p {color: #35404f;}

img {
    display: block;
    margin: auto;
    border: 2px solid #eb7260;
}


table{
    border-collapse: collapse;
}

th {
    background-color: #4aaaa5;
}

td {
    background-color: #a3d39c;
}

th, td {
    border: 2px solid black;
    padding: 5px;}