body {
    margin: auto;
    font-family: "Segoe UI";
    background-color: #FFFAFF;
    background-image: url("http://www.desktop-screens.com/data/out/71/3134692-matrix-wallpapers.jpg");
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "header     header      header"
    "menu       menu        menu"
    "links1     main        links2"
    "footer     footer      footer"
}

div.header {
    grid-area: header;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    font-stretch: ultra-expanded;
}

//div.picture {
    grid-area: picture;
    text-align: center;
    height: 400px;
    background-image: url("https://cdn.wallpapersafari.com/2/77/o4y3Oq.jpg");
    background-size: cover;
    border-top: solid #4F6D7A;
    border-bottom: solid #4F6D7A;
}

div.menu {
    grid-area: menu;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #4A6FA5;

}

div.main {
    grid-area: main;
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #FFFAFF;
    min-height: 300px;
}

div.links1 {
    grid-area: links1;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #FFFAFF;

}

div.links2 {
    grid-area: links2;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #FFFAFF;

}

div.footer {
    grid-area: footer;
    text-align: left;
    background-color: #4A6FA5;
    height: 200px;
    margin-bottom: 0%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;



}

div.grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
            "about    creator   logo"
}


nav ul li{
    color: #D9DBF1;
    display: inline;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: solid #000000;
}

h1{
    color: #FFFAFF;
    font-size: 50px;
}

div.about {
    margin: 20px;
}

div.creator {
    margin: 20px;
}

h4  {
    font-size: 18px;
    font-stretch: expanded;
}

q {
    font-style: italic;
}



a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:black }

@media (max-width: 1000px) {

    div.grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header     header"
        "menu       menu"
        "main       main"
        "links1     links2"
        "footer     footer"
    }


}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 65%;
    height: auto;
    padding: 20px;

}

h4 {
    font-size: 30px;
}

table, th, td {
    border: 1px solid black;
}